body{
    background: #dadada
}

div#surveyForm{
    width : 70%;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
}

div#surveyForm header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

div#surveyForm header span{
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: justify;
}

div#surveyForm img{
    margin-top :30px;
    width : 20%;
}

div#surveyForm .ButtonList #sim{
    background : #2CC990;
    color: #ffffff;
    font-size: 18px;
    width : 15%;
    height: 70px;
    border-radius: 10px;
}

div#surveyForm .ButtonList #nao{
    background : #FC6042;
    font-size: 18px;
    color: #ffffff;
    width : 15%;
    height: 70px;
    border-radius: 10px;
}
